/Lab2/nbproject/private/
/Lab2/build/
/Lab2/dist/
/Lab3/nbproject/private/
/Lab3/build/
/Lab4/nbproject/private/
/Lab4/build/
/Lab5/nbproject/private/
/Lab5/build/
*.zip
/Java2/target/
/ASM1/nbproject/private/
/ASM1/build/
/ASM1/dist/
/Lab6/nbproject/private/
/ASM/nbproject/private/
/Lab6/build/
/ASM/build/
/Lab7/nbproject/private/
/Lab7/build/
/ASM2/nbproject/private/
/ASM2/build/
/Lab8/nbproject/private/
/Lab8/build/
/OnTap/nbproject/private/
/OnTap/build/
